<section class="wrapper" id="drinkingGame" style="margin-top:80px; margin-top:30px;">

	<h1><%= @game.name %></h1>
	<p><%=@game.description%></p>

	<div class="row">
		<div class="col-md-5 col-md-offset-1">
			<div id="drinkif">
				<!--TODO:Use Ruby Below if a game has no rules-->
				<%= %>
				<h2 style="text-align:center">Drink if...</h2>
				<ul>
					<% @game.rules.each do |rule| %>
						<li><%= rule.description%></li>
					<% end %>
					
				</ul>
			</div>

			<div id="shotif">
				<h2>Take a Shot if...</h2>
				<ul>
					<li>
						The song playing matches with this random one: <br>
						<div style="border-style:solid;border-width:5px;border-radius:5px;height:45px;color:#0099FF;">
							<button onClick="newSong()">New Song</button><span id="songChoice" style="position:absolute;right:5%;"></span>
						</div>


						
					</li>	
				</ul>
		</div>
		</div>
		<div class="col-md-5">
			<div id="drinkif">
				<h2>Random Mini-Game</h2>
				<!--TODO Make this a Random Selection (Make it a Model!)-->
				<p>Quarters</p>
			</div>

		</div>
	</div>
	<div class="row" style="margin-top:130px;">
	<!--TODO: Add 'Add Rule Page'-->
			<div style="text-align:center;">
				
				<button style=""><h3>Add Rule:</h3></button>
				<%= button_to "Add Rule", addRule_path(), class:"", style:""%>
			</div>
	</div>
	

</section>

<div id="back">
    <div class="container">
     <p class="muted credit">
		<%= link_to the310_path() do %>
		<i class="fa fa-arrow-left fa-3x"></i>
		<% end %>
		

     </p>
    </div>
</div>


